!!! 5
html ng-app
  head
    title Presence Manager
    meta(content='Presence', name='description')
    meta(content='text/html; charset=UTF-8', http-equiv='Content-Type')
    meta(charset='utf-8')
    meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1', name='viewport')
    // link(href='public/images/favicon.ico', rel='shortcut icon')
    // link(href='public/css/app.css', rel='stylesheet')
  body
    h1 Manage your online presence
    h3 Update your business listings on 100 sites, apps and maps
    // script(src='public/js/app.min.js')

